<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"></meta>
		<title>Seek&Wash</title>
		<link rel="icon" href="/imagenes/logo.jpg" type="image/icon type">
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"></link>
		<link href="/css/dataTables.bootstrap4.min.css" rel="stylesheet"></link>
		<link href="/css/listasAdmin.css" rel="stylesheet"></link>
		<link href="/css/nav.css"></link>
		<script src="/js/jquery.validate.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/jquery.min.js"></script>
		<script src="/js/jquery.dataTables.min.js"></script>
		<script src="/js/dataTables.bootstrap4.min.js"></script>
	</head>
	<body>
    	<div th:replace="fragments/header2 :: header"></div>
   		<div class="container-fluid">		
		<table class="table table-bordered table-hover table-striped" id="tab_logic">
			<thead>
				<tr>
					<th class="text-center">DNI</th>
					<th class="text-center">NOMBRE</th>
					<th class="text-center">CORREO</th>
					<th class="text-center">CELULAR</th>
					<th class="text-center">CONTRASEÑA</th>
					<th class="text-center">MODIFICAR</th>
					<th class="text-center">ELIMINAR</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="usuario: ${listaUsuarios}">
					<td th:text="${usuario.dniUsuario}"></td>
					<td th:text="${usuario.nombre}"></td>
					<td th:text="${usuario.correo}"></td>
					<td th:text="${usuario.celular}"></td>
					<td th:text="${usuario.contrasenia}"></td>
					<td><a id="ver" th:href="@{'/usuario/modificar/'}+${usuario.dniUsuario}"><span class="glyphicon glyphicon-edit"></span></a></td>
					<td><a id="ver" th:href="@{/usuario/eliminar/?id=}+${usuario.dniUsuario}"><span class="glyphicon glyphicon-remove"></span></a></td>
				</tr>
			</tbody>
		</table> 
		<p th:text="${mensaje}" class="form-text text-dark"></p>			
   		</div>
    		
  	    <script>$('#tab_logic').DataTable({info: false, lengthChange: false, pageLength: 10, 
    	dom: "<'pag2'f><'pag'p>", oLanguage: { sSearch: "Buscar:", oPaginate: { sPrevious: "Anterior", sNext: "Siguiente"}} });</script>	
	</body>

</html>