<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8"></meta>
		<title>Seek&Wash</title>
		<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js"></script>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"></link>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
		<link th:href="@{/css/registrar.css}" rel="stylesheet"></link>
	</head>

	<body>
    	<div th:replace="fragments/header :: panel"></div>
    	<div class="container">
    		<form th:action="@{/solicitud/registrar}" method="post" th:object="${solicitud}">
    			<div class="form-group">
    				<h1><span th:text="${titulo}"></span></h1>
    				<label for="idSolicitud">ID:</label>
    				<input type="text" class="form-control" th:field="*{idSolicitud}" readonly></input>
    				
    				<div class="form-group">
    					<label for="dniUsuario">Usuario:</label>
    					<input type="text" pattern="[0-9]{8}" maxlength="8" title="DNI no valido" class="form-control" th:field="*{usuario.dniUsuario}" readonly></input>
    				</div>
    				
    				<div class="form-group">
    					<label for="idServicio">Servicio:</label>
    					<input type="text" class="form-control" th:field="*{servicio.idServicio}" readonly></input>
    				</div>
    				
    				<div class="form-group">
    					<label for="idEstadoSolicitud">Estado de solicitud:</label>
    					<select class="form-control" th:field="*{estado.idEstadoSolicitud}">
    						<option th:each="e: ${listaEstados}"
    							th:value="${e.idEstadoSolicitud}"
    							th:text="${e.nombre}"
    							th:selected="(${e.idEstadoSolicitud} == *{estado.idEstadoSolicitud})">
    						</option>    					
    					</select>     					
    				</div>

					<div class="form-group">
    					<label for="fechaCreacion">Fecha de creación de solicitud:</label>
    					<input type="date" class="form-control" th:field="*{fechaCreacion}" id="fechaCreacion" readOnly></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('fechaCreacion')}" 
								th:errors="*{fechaCreacion}">
						</div>    					
    				</div>  
    				
    				<div class="form-group">
    					<label for="fechaAtencion">Fecha de atención de solicitud:</label>
    					<input type="date" class="form-control" th:field="*{fechaAtencion}" id="fechaAtencion"  min="12/11/2021"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('fechaAtencion')}" 
								th:errors="*{fechaAtencion}">
						</div>    					
    				</div>  
    				
    				<div class="form-group">
    					<label for="observacion">Observación:</label>
    					<input type="text" maxlength="50" title="Observación no valido" class="form-control" th:field="*{observacion}" id="observacion"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('observacion')}" 
								th:errors="*{observacion}">
						</div>    					
    				</div> 

    				<div class="form-group">
    					<label for="direccion">Dirección:</label>
    					<input type="text" maxlength="50" title="Dirección no valido" class="form-control" th:field="*{direccion}" id="direccion"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('direccion')}" 
								th:errors="*{direccion}">
						</div>    					
    				</div>     
    			</div>
    			<div id= botones>
    				<button id="baceptar" type="submit" class="btn btn-primary">Aceptar</button>
    				<a href="/admin/solicitudes/" class="btn btn-danger">Cancelar</a>
    			</div>
	    		<p th:text="${mensaje}" class="form-text text-dark"></p>			
    		</form>
    	</div>
	</body>

</html>