<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8"></meta>
		<title>Seek&Wash</title>
		<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js"></script>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"></link>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
		<link th:href="@{/css/registrar.css}" rel="stylesheet"></link>
	</head>

	<body>
    	<div th:replace="fragments/header :: panel"></div>
    	<div class="container">
    		<form th:action="@{/tarifa/registrar}" method="post" th:object="${tarifa}">
    			<div class="form-group">
    				<h1><span th:text="${titulo}"></span></h1>
    				<label for="idTarifa">ID:</label>
    				<input type="text" class="form-control" th:field="*{idTarifa}"></input>
    				
    				<div class="form-group">
    					<label for="idServicio">Servicio:</label>
    					<select class="form-control" th:field="*{servicio.idServicio}">
    						<option th:each="s: ${listaServicios}"
    							th:value="${s.idServicio}"
    							th:text="${s.nombre}"
    							th:selected="(${s.idServicio} == *{servicio.idServicio})">
    						</option>    					
    					</select>     					
    				</div> 

    				<div class="form-group">
    					<label for="idTipoVehiculo">Tipo de vehículo:</label>
    					<select class="form-control" th:field="*{tipoVehiculo.idTipoVehiculo}">
    						<option th:each="t: ${listaTipoVehiculo}"
    							th:value="${t.idTipoVehiculo}"
    							th:text="${t.nombre}"
    							th:selected="(${t.idTipoVehiculo} == *{tipoVehiculo.idTipoVehiculo})">
    						</option>    					
    					</select>    					
    				</div> 

    				<div class="form-group">
    					<label for="Precio">Precio:</label>
    					<input type="number" class="form-control" th:field="*{precio}" id="precio"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('precio')}" 
								th:errors="*{precio}">
						</div>    					
    				</div> 
    			</div>
    			<div id= botones>
    				<button id="baceptar" type="submit" class="btn btn-primary">Aceptar</button>
    				<a href="/admin/tarifas/" class="btn btn-danger">Cancelar</a>
    			</div>
    			<p th:text="${mensaje}" class="form-text text-dark"></p>			
    		</form>
    	</div>
    	<div th:replace="fragments/footer :: footer"></div>
	</body>

</html>