<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"></meta>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"></link>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div th:fragment="sidebar">
			<div class="w3-sidebar" style="width:15%">
				<img class="img" src="/imagenes/Car.png">
				<h1 class="w3-bar-item">RUC: 20255509661</h1>
				<a href="#" class="w3-bar-item w3-button">Empresa</a>
				<a href="#" class="w3-bar-item w3-button">Sucursal</a>
				<a href="#" class="w3-bar-item w3-button">Servicios</a>
				<a href="#" class="w3-bar-item w3-button">Tarifario</a>
				<a href="#" class="w3-bar-item w3-button">Galeria</a>
				<a href="#" class="w3-bar-item w3-button">Solicitudes</a>
			</div>
		</div>
	</body>
</html>
