* {
	font-family: Verdana;
}

h1 {
	color: #84BCAA;
	text-align: center;
	font-size: 50pt;
	padding-bottom: 20px;
	font-weight: bold;
}

.btn-primary {
	background-color: #958FC9; 
	border: 0px;
	text-align: center;
	font-size: 15pt;	
}

.btn-danger {
	color: #958FC9; 
	background-color: #FFFFFF; 
	border-color: #958FC9;
	font-size: 15pt;	
}

label {
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	font-size: 15pt;
}

.form-control {
	margin-top: 0px !important;
	float: right;
}

.sidedbar-divider{
	margin-top: 7%;
}

.float-container{
	width: 100%;
}

.float-child{
	padding-left:2%;
	padding-right:2%;
}

.float-child.uno{
	width: 100%;
}

.float-child.medio {
	width: 45%;
	float: left;
}

.form-control.uno {
	width: 90%;
	padding-left:2%;
	padding-right:2%;
	float: left;
}

.form-control{
	margin-top: 1%;
}
.form-control.medio{
	width: 100%;
	text-align: left;
}


#baceptar{
	margin-right: 100px;
}

#botones {
	margin-top: 70px;
	text-align: center;
}


