<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8"></meta>
		<title>Seek&Wash</title>
		<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js"></script>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"></link>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
		<link th:href="@{/css/registrar.css}" rel="stylesheet"></link>
	</head>

	<body>
    	<div th:replace="fragments/header :: header"></div>
    	<div class="container">
    		<form th:action="@{/calificacion/registrar}" method="post" th:object="${calificacion}">
    			<div class="form-group">
    				<h1>SOLICITAR SERVICIO</h1>
    				<label for="idCalificacion">ID:</label>
    				<input type="text" class="form-control" th:field="*{idCalificacion}"></input>
    				
    				<div class="form-group">
    					<label for="dniUsuario">Usuario:</label>
    					<select class="form-control" th:field="*{usuario.dniUsuario}">
    						<option th:each="u: ${listaUsuarios}"
    							th:value="${u.dniUsuario}"
    							th:text="${u.nombre}"
    							th:selected="(${u.dniUsuario} == *{usuario.dniUsuario})">
    						</option>    					
    					</select>     					
    				</div>
    				
    				<div class="form-group">
    					<label for="idServicio">Servicio:</label>
    					<select class="form-control" th:field="*{servicio.idServicio}">
    						<option th:each="s: ${listaServicios}"
    							th:value="${s.idServicio}"
    							th:text="${s.nombre}"
    							th:selected="(${s.idServicio} == *{servicio.idServicio})">
    						</option>    					
    					</select>     					
    				</div>

    				<div class="form-group">
    					<label for="puntos">Puntos:</label>
    					<input type="number" class="form-control" th:field="*{puntos}" id="puntos"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('puntos')}" 
								th:errors="*{puntos}">
						</div>    					
    				</div> 

    				<div class="form-group">
    					<label for="comentario">Comentario:</label>
    					<input type="text" class="form-control" th:field="*{comentario}" id="comentario"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('comentario')}" 
								th:errors="*{comentario}">
						</div>    					
    				</div> 
    				
    				<div class="form-group">
    					<label for="fecha">Fecha de comentario:</label>
    					<input type="date" class="form-control" th:field="*{fecha}" id="fecha"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('fecha')}" 
								th:errors="*{fecha}">
						</div>    					
    				</div>      
    			</div>
    			<div id= botones>
    				<button id="baceptar" type="submit" class="btn btn-primary">Aceptar</button>
    				<a href="/usuario/irLogin" class="btn btn-danger">Cancelar</a>
    			</div>
    		</form>
    	</div>
    	<div th:replace="fragments/footer :: footer"></div>
	</body>

</html>