<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8"></meta>
		<title>Seek&Wash</title>
		<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js"></script>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"></link>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
		<link th:href="@{/css/registrar.css}" rel="stylesheet"></link>
	</head>

	<body>
    	<div th:replace="fragments/header :: header"></div>
    	<div class="container">
    		<form th:action="@{/afiliacion/afiliarse}" method="post">
    			<div id="registro_empresa" class="form-group" th:object="${empresa}">
    				<h1>REGISTRAR EMPRESA</h1>
    				<label for="rucEmpresa">RUC:</label>
    				<input type="text" class="form-control" th:field="*{rucEmpresa}" readonly></input>
    				<div class="form-group">
    					<label for="nombre">Nombre:</label>
    					<input type="text" class="form-control" th:field="*{nombre}" id="nombre" pattern="[0-9]{11}" maxlength="11" title="RUC no valido" th:readonly="*{nombre!=null}"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('nombre')}" 
								th:errors="*{nombre}">
						</div>    					
    				</div> 
    				<div class="form-group">
    					<label for="descripcion">Descripción:</label>
    					<input type="text" class="form-control" th:field="*{descripcion}" id="descripcion" pattern="[0-9]{11}" maxlength="11" title="RUC no valido" th:readonly="*{descripcion!=null}"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('descripcion')}" 
								th:errors="*{descripcion}">
						</div>    					
    				</div> 
    			</div>
    			<hr class="sidedbar-divider">	
    			<div id="registro_sucursal" class="form-group" th:object="${sucursal}">
    				<h1>REGISTRAR SUCURSAL</h1>
    				<input type="hidden" class="form-control" th:field="*{idSucursal}"></input>

    				<div class="form-group">
    					<label for="idTipoServicio">Distrito:</label>
    					<select class="form-control" th:field="*{distrito.idDistrito}">
    						<option th:each="t: ${listaDistritos}"
    							th:value="${t.idDistrito}"
    							th:text="${t.nombre}"
    							th:selected="(${t.idDistrito} == *{distrito.idDistrito})">
    						</option>    					
    					</select>    					
    				</div> 

    				<div class="form-group">
    					<label for="direccion">Dirección:</label>
    					<input type="text" class="form-control" th:field="*{direccion}" id="direccion" maxlength="40" title="Dirección no valida"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('direccion')}" 
								th:errors="*{direccion}">
						</div>    					
    				</div> 

    				<div class="form-group">
    					<label for="correo">Correo:</label>
    					<input type="text" class="form-control" th:field="*{correo}" id="correo" maxlength="50" title="Correo no valido"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('correo')}" 
								th:errors="*{correo}">
						</div>    					
    				</div> 
    				
    				<div class="form-group">
    					<label for="celular">Celular:</label>
    					<input type="text" class="form-control" th:field="*{celular}" id="celular" pattern="[0-9]{9}" maxlength="9" title="Celular no valido"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('celular')}" 
								th:errors="*{celular}">
						</div>    					
    				</div> 
    				
    				<div class="form-group">
    					<label for="horario">Horario:</label>
    					<input type="text" class="form-control" th:field="*{horario}" id="horario" maxlength="70" title="Horario no valido"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('horario')}" 
								th:errors="*{horario}">
						</div>    					
    				</div> 
    			</div>
    			<div id= botones>
    				<button id="baceptar" type="submit" class="btn btn-primary">Aceptar</button>
    				<a href="/afiliacion/" class="btn btn-danger">Cancelar</a>
    			</div>
    			<p th:text="${mensaje}" class="form-text text-dark"></p>			
    		</form>
    	</div>
	</body>

</html>