<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8"></meta>
		<title>Seek&Wash</title>
		<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js"></script>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"></link>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
		<link th:href="@{/css/inicio.css}" rel="stylesheet"></link>
	</head>

	<body>
    	<div th:replace="fragments/header :: header"></div>
<!--    -->




<div class="main">        
    <div class="container-all">

        <input type="radio" id="1" name="image-slide" hidden/>
        <input type="radio" id="2" name="image-slide" hidden/>
        <input type="radio" id="3" name="image-slide" hidden/>

        <div class="slide">

            <div class="item-slide">
                <img src="/imagenes/pc1.jpg" width="900px;" height="500px;">
            </div>

            <div class="item-slide">
                <img src="/imagenes/pc2.jpg" width="900px;" height="500px;">
            </div>

            <div class="item-slide">
                <img src="/imagenes/pc3.jpg" width="900px;" height="500px;">
            </div>

        </div>

        <div class="pagination">
           
            <label class="pagination-item" for="1">
                <img src="/imagenes/pc1.jpg">
            </label>
            
            <label class="pagination-item" for="2">
                <img src="/imagenes/pc2.jpg">
            </label>
            
            <label class="pagination-item" for="3">
                <img src="/imagenes/pc3.jpg">
            </label>

        </div>    
 </div>
</br></br></br>



<h1>Lo más vendido</h1></br>
		<div class="columnas_masvendidas">
			<div class="columna"></br>
				<img src="/imagenes/INTELbaja.png" style = "width: 270px; height: 255px;"></br></br>
				<h2>Gamer Gama Baja</h2>
				<h3>S/. 2500.00</h3>
				<h4>Ryzen 5-2400G<br>
					Crucial Ballistix Sport 8GB<br>
					Toshiba 1TB<br>
					LG LED 22"<br>
					kit Antryx Chrome Storm</h4></br>
				<a class  ="boton" href="#">Más información</a></br></br>
			</div>
			<div class="columna"></br>
				<img src="/imagenes/INTELmedia.png" style = "width: 270px; height: 255px;"></br></br>
				<h2>Gamer Gama Media</h2>
				<h3>S/. 4500.00</h3>
				<h4>Ryzen 5-2400G<br>
					Crucial Ballistix Sport 8GB<br>
					Toshiba 1TB<br>
					LG LED 22"<br>
					kit Antryx Chrome Storm</h4></br>
				<a class  ="boton" href="#">Más información</a></br></br>
			</div>
			<div class="columna"></br>
				<img src="/imagenes/INTELalta.png" style = "width: 270px; height: 255px;"></br></br>
				<h2>Gamer Gama Alta</h2>
				<h3>S/. 6500.00</h3>
				<h4>Ryzen 5-2400G<br>
					Crucial Ballistix Sport 8GB<br>
					Toshiba 1TB<br>
					LG LED 22"<br>
					kit Antryx Chrome Storm</h4></br>
				<a class  ="boton" href="#">Más información</a></br></br>
			</div>
			<div class="columna"></br>
				<img src="/imagenes/workstation.png" style = "width: 270px; height: 255px;"></br></br>
				<h2>PC Workstation</h2>
				<h3>S/. 4000.00</h3>
				<h4>Intel Core i7 7800X<br>
					 QUADRO P2000 5GB<br>
					 16GB RAM<br>
					 1TB HDD + SSD240<br>
					 kit Antryx Chrome Storm</h4></br>
				<a class  ="boton" href="#">Más información</a></br></br>
			</div>
		</div>
</br></br></br></br>

		<div class="caracteristicas">
			<div class="caracteristicas_columna"></br>
				<img src="/imagenes/confianza.png" style = "width: 80px;">
				<h2>Fiabilidad y confianza</h2>
				<h4>Para tu tranquilidad nos encargamos de producir, testear y optimizar tu ordenador para que puedas disfrutarlo desde el primer día.</h4>
			</div>
				<div class="caracteristicas_columna"></br>
				<img src="/imagenes/satisfaccion.png" style = "width: 80px;">
				<h2>Satisfaccion total</h2>
				<h4>Nosotros también somos clientes y nuestra máxima prioridad es garantizar tu satisfacción, antes, durante y después de la compra.</h4>
			</div>
				<div class="caracteristicas_columna"></br>
				<img src="/imagenes/valores.png" style = "width: 80px;">
				<h2>Nuestro valor añadido</h2>
				<h4>Somos un equipo de profesionales que nos apasiona el trabajo bien hecho y nos comprometemos en ofrecerte la mejor experiencia.</h4>
			</div>
		</div>
</br></br></br></br>






<!--  -->


    	<div th:replace="fragments/footer :: footer"></div>
	</body>

</html>