<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8"></meta>
		<title>Seek&Wash</title>
		<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js"></script>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"></link>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="/js/rbuscar.js"></script>
		<link th:href="@{/css/busqueda.css}" rel="stylesheet"></link>
	</head>

	<body>
    	<div th:replace="fragments/header :: header"></div>
    		<div class="container-fluid">
    		<a href="/empresa/irRegistrar" class="btn btn-danger">Agregar</a>
    		</div>
    		<hr class="sidedbar-divider">		
			<table class="table table-bordered table-hover table-striped" id="tab_logic">
				<thead>
					<tr>
						<th class="text-center">RUC</th>
						<th class="text-center">NOMBRE</th>
						<th class="text-center">DESCRIPCIÓN</th>
						<th class="text-center">OPERACIÓN</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="empresa: ${listaEmpresas}">
						<td th:text="${empresa.rucEmpresa}"></td>
						<td th:text="${empresa.nombre}"></td>
						<td th:text="${empresa.descripcion}"></td>
						<td><a th:href="@{'/empresa/modificar/'}+${empresa.rucEmpresa}">Modificar</a></td>
					</tr>
				</tbody>
			</table> 
 			<p th:text="${mensaje}" class="form-text text-dark"></p>			
    		</div>
    		
    	<div th:replace="fragments/footer :: footer"></div>
	</body>

</html>