<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8"></meta>
		<title>Seek&Wash</title>
		<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js"></script>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"></link>
		<link th:href="@{css/stylelanding.css}" rel="stylesheet"/></link>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
		<link th:href="@{/css/registrar.css}" rel="stylesheet"></link>
	</head>

	<body>
    	<div th:replace="fragments/header :: header"></div>
    	<div class="container">
    		<form th:action="@{/usuario/registrar}" method="post" th:object="${usuario}">
    			<div class="form-group">
    				<h1>REGISTRO</h1>
    				<label for="dniUsuario">DNI:</label>
    				<input type="text" class="form-control" th:field="*{dniUsuario}"></input>
    				
    				<div class="form-group">
    					<label for="nombre">Nombre y apellido:</label>
    					<input type="text" class="form-control" th:field="*{nombre}" id="nombre"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('nombre')}" 
								th:errors="*{nombre}">
						</div>    					
    				</div> 

    				<div class="form-group">
    					<label for="correo">Correo:</label>
    					<input type="text" class="form-control" th:field="*{correo}" id="correo"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('correo')}" 
								th:errors="*{correo}">
						</div>    					
    				</div> 

    				<div class="form-group">
    					<label for="celular">Celular:</label>
    					<input type="text" class="form-control" th:field="*{celular}" id="celular"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('celular')}" 
								th:errors="*{celular}">
						</div>    					
    				</div> 

    				<div class="form-group">
    					<label for="contrasenia">Contraseña:</label>
    					<input type="password" class="form-control" th:field="*{contrasenia}" id="contrasenia"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('contrasenia')}" 
								th:errors="*{nombre}">
						</div>    					
    				</div> 
    			</div>
    			<div id= botones>
    				<button id="baceptar" type="submit" class="btn btn-primary">Aceptar</button>
    				<a href="/usuario/irLogin" class="btn btn-danger">Cancelar</a>
    			</div>
    		</form>
    	</div>
    	<div th:replace="fragments/footer :: footer"></div>
	</body>

</html>