<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8"></meta>
		<title>Seek&Wash</title>
		<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js"></script>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"></link>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
		<link th:href="@{/css/registrar.css}" rel="stylesheet"></link>
	</head>

	<body>
    	<div th:replace="fragments/header :: header"></div>
    	<div class="container">
    		<form th:action="@{/sucursal/registrar}" method="post" th:object="${sucursal}">
    			<div class="form-group">
    				<h1>REGISTRAR SUCURSAL</h1>
    				<label for="idSucursal">ID:</label>
    				<input type="text" class="form-control" th:field="*{idSucursal}"></input>
    				
    				<div class="form-group">
    					<label for="rucEmpresa">Empresa:</label>
    					<select class="form-control" th:field="*{empresa.rucEmpresa}">
    						<option th:each="t: ${listaEmpresas}"
    							th:value="${t.rucEmpresa}"
    							th:text="${t.nombre}"
    							th:selected="(${t.rucEmpresa} == *{empresa.rucEmpresa})">
    						</option>    					
    					</select>     					
    				</div> 

    				<div class="form-group">
    					<label for="idTipoServicio">Distrito:</label>
    					<select class="form-control" th:field="*{distrito.idDistrito}">
    						<option th:each="t: ${listaDistritos}"
    							th:value="${t.idDistrito}"
    							th:text="${t.nombre}"
    							th:selected="(${t.idDistrito} == *{distrito.idDistrito})">
    						</option>    					
    					</select>    					
    				</div> 

    				<div class="form-group">
    					<label for="direccion">Dirección:</label>
    					<input type="text" class="form-control" th:field="*{direccion}" id="direccion"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('direccion')}" 
								th:errors="*{direccion}">
						</div>    					
    				</div> 

    				<div class="form-group">
    					<label for="correo">Correo:</label>
    					<input type="text" class="form-control" th:field="*{correo}" id="correo"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('correo')}" 
								th:errors="*{correo}">
						</div>    					
    				</div> 
    				
    				<div class="form-group">
    					<label for="celular">Celular:</label>
    					<input type="text" class="form-control" th:field="*{celular}" id="celular"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('celular')}" 
								th:errors="*{celular}">
						</div>    					
    				</div> 
    				
    				<div class="form-group">
    					<label for="horario">Horario:</label>
    					<input type="text" class="form-control" th:field="*{horario}" id="horario"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('horario')}" 
								th:errors="*{horario}">
						</div>    					
    				</div> 
    				
    			</div>
    			<div id= botones>
    				<button id="baceptar" type="submit" class="btn btn-primary">Aceptar</button>
    				<a href="/usuario/irLogin" class="btn btn-danger">Cancelar</a>
    			</div>
    		</form>
    	</div>
    	<div th:replace="fragments/footer :: footer"></div>
	</body>

</html>